{% extends 'base/index.html' %}

{% block content %}

<div class="card border rounded m-3 p-3 shadow-sm bg-light">
    <form method="post">
        <h2>Crear Actividad Detalle</h2>
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Actividad</label>
                    {{form.actividad}}
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Orden</label>
                    {{form.tipo}}
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nota</label>
                    {{form.nota}}
                </div>

            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Descripción Actividad</label>
                    {{form.descripcion}}
                </div>

            </div>

        </div>

        <button type="submit" class="btn btn-success">Crear</button>
    </form>

</div>


{% endblock content %}