{% extends 'base/index.html' %}

{% block content %}

<div class="card border rounded m-3 p-3 shadow-sm bg-light">
    <form method="post">

        {% if accion == "crear" %}
            <h2>Crear Opciones de Respuesta</h2>
        {% else %}
            <h2>Editar Opciones de Respuesta</h2>
        {% endif %}

        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Actividad</label>
                    {{form.act_Pregunta}}
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Orden</label>
                    {{form.orden}}
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Opción Correcta</label>
                    {{form.opt_correcta}}
                </div>

            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Descripción</label>
                    {{form.descripcion}}
                </div>

            </div>

        </div>
        {% if accion == "crear" %}
            <button type="submit" class="btn btn-success">Crear</button>
        {% else %}
            <button type="submit" class="btn btn-success">Actualizar</button>
            <a class="btn btn-danger" href="{% url 'Create_Act_Pregunta_Opt' %}">Cancelar</a>

        {% endif %}

    </form>

</div>

{% if accion == "crear" %}
    <!-- tabla -->
    <div class="card border rounded m-3 p-3 shadow-sm bg-light">

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Opciones de Respuesta creadas
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Actividad</th>
                            <th>Orden</th>
                            <th>Opción Correcta</th>
                            <th>Descripción</th>
                            <th>Acción</th>

                        </tr>
                    </thead>
                    
                    <tbody>
                        {% if Act_Pregunta_Opts %}
                            {% for Act_Pregunta_Opt in Act_Pregunta_Opts %}
                                <tr>
                                    <th>{{ Act_Pregunta_Opt.id }}</th>
                                    <th>{{ Act_Pregunta_Opt.act_Pregunta }}</th>
                                    <th>{{ Act_Pregunta_Opt.orden }}</th>
                                    <th>{{ Act_Pregunta_Opt.opt_correcta }}</th>
                                    <th>{{ Act_Pregunta_Opt.descripcion }}</th>
                                    <th>
                                        <a  class="btn btn-primary"  href="{% url 'Update_Act_Pregunta_Opt' Act_Pregunta_Opt.id %}">Editar</a> 
                                    </th>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endif %}



{% endblock content %}