{% extends 'base/index.html' %}

{% block content %}

<div class="card border rounded m-3 p-3 shadow-sm bg-light">
    <form method="post">
        <h2>Armar Curso</h2>
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Curso</label>
                    {{form.curso}}
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Tema</label>
                    {{form.tema}}
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Subtema</label>
                    {{form.subtema}}
                </div>


            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Fecha Inicio</label>
                    {{form.fecha_i}}
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Fecha Fin</label>
                    {{form.fecha_f}}
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Orden</label>
                    {{form.orden}}
                </div>

            </div>

        </div>

        <button type="submit" class="btn btn-success">Crear</button>
    </form>

</div>


<!-- tabla -->
<div class="card border rounded m-3 p-3 shadow-sm bg-light">

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Armar Curso
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id Tema</th>
                        <th>Curso</th>
                        <th>Tema</th>
                        <th>Subtema</th>
                        <th>Orden</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Fin</th>
                        <th>Acción</th>
                        

                    </tr>
                </thead>
                
                <tbody>
                    {% if curtemstems %}
                        {% for curtemstem in curtemstems %}
                            <tr>
                                <th>{{ curtemstem.id}}</th>
                                <th>{{ curtemstem.curso.nombre_curso}}</th>
                                <th>{{ curtemstem.tema.nombre_tema}}</th>
                                <th>{{ curtemstem.subtema.nombre}}</th>
                                <th>{{ curtemstem.orden}}</th>
                                <th>{{ curtemstem.fecha_i}}</th>
                                <th>{{ curtemstem.fecha_f}}</th>
                                <th></th>
                            </tr>
                        {% endfor %}
                    {% endif %}
                   
                </tbody>
            </table>
        </div>
    </div>

</div>


{% endblock content %}