{% extends 'base/index.html' %}

{% block content %}

<div class="card border rounded m-3 p-3 shadow-sm bg-light">
    <form method="post" enctype="multipart/form-data">

        {% if accion == "crear" %}
            <h2>Crear Subtema</h2>
        {% else %}
            <h2>Editar Sub Tema</h2>
        {% endif %}
        
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Tema</label>
                    {{form.tema}}
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nombre Subtema</label>
                    {{form.nombre}}
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Estado del Subtema</label>
                    {{form.estado}}
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Recurso</label>
                    {{form.recurso}}
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"></label>
                    {{form.recurso_link_video}}
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"></label>
                    {{form.recurso_archivo}}
                </div>

            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Descripción del Tema</label>
                    {{form.descripcion}}
                </div>

            </div>

        </div>

        {% if accion == "crear" %}
            <button type="submit" class="btn btn-success">Crear</button>
        {% else %}
        <button type="submit" class="btn btn-success">Actualizar</button>
        <a class="btn btn-danger" href="{% url 'Create_Subtema' %}">Cancelar</a>
        {% endif %}
    </form>
</div>

{% if accion == "crear" %}
<!-- tabla -->
<div class="card border rounded m-3 p-3 shadow-sm bg-light">

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Temas creados
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id Tema</th>
                        <th>Tema</th>
                        <th>Nombre Subtema</th>
                        <th>Estado del Subtema</th>
                        <th>Descripción Subtema</th>
                        <th>Acción</th>

                    </tr>
                </thead>
                
                <tbody>
                    {% if subtemas %}
                        {% for subtema in subtemas %}
                            <tr>
                                <th>{{ subtema.id }}</th>
                                <th>{{ subtema.tema }}</th>
                                <th>{{ subtema.nombre }}</th>
                                <th>{{ subtema.estado }}</th>
                                <th>{{ subtema.descripcion }}</th>
                                <th>
                                    <a class="btn btn-primary" href="{% url 'Update_Subtema' subtema.id %}">Editar</a>
                                </th>
                            </tr>
                        {% endfor %}
                    {% endif %}
                   
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endif %}

{% endblock content %}